# Global environment variables for all services
# Replace with your own values and rename to .env (but never commit it)
TAILSCALE_AUTH_KEY=your_tailscale_auth_key
POSTGRES_PASSWORD=your_db_password
LOGTIDE_API_KEY=your_logtide_api_key
API_KEY_SECRET=your_api_key_secret
